.button{
    display: inline-block;
    width: 100%;
    max-width: 185px;
    padding: 14px 39px;
    background: #FCB72B;
    font-family: 'Space Mono 700';
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border: 3px solid transparent;
    cursor: pointer;
}
.button:hover{
    border: 3px solid #FCB72B;
    background: #fff;
    color: #FCB72B;   
}