.hero{
    &__container{
        padding: 153px 0px;
        background-image: url("../images/heroback.jpg");
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center right;  
    }
    &__textbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
    }
    &__heading {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-family: 'Space Mono 700';
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
    }
    &__desc {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        padding-left: 95px;
        font-family: 'Lexend Deca';
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }
    &__btn{
        margin-left: 95px;
    }
}

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) { 
  
//   /* Retina-specific stuff here */
//   .hero{
//       background-image: url("../images/heroback@2x.jpg");
//   }
// }
@media only screen and (max-width:1023px){
    .hero{
        padding-top: 137px;
        padding-bottom: 217px;
        &__container{
            display: flex;
            justify-content: center;
        }
        &__textbox {
            align-items: center;
            text-align: center;
        }
        &__heading{
            margin-bottom: 24px;
        }
        &__desc{
            padding-left: 0px;
            margin-bottom: 32px;
        }
        &__btn{
            margin-left: 0px;
        }
    }
}
@media only screen and (max-width:767px){
    .hero{
        &__heading{
            font-size: 40px;
            line-height: 40px;      
        }
        &__desc{
            padding-left: 0px;
            margin-bottom: 35px;
        }
    }
}

 
