.hero{
    padding: 153px 0px;
    background-image: url("../images/heroback.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    .hero__textbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
    }
    .hero__heading {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-family: 'Space Mono 700';
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
    }
    .hero__desc {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        padding-left: 95px;
        font-family: 'Lexend Deca';
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }
    &__btn{
        margin-left: 95px;
    }
    .hero__position-line{
        position: absolute;
        left: 0;
        top: 338px;
    }
    .hero__position-strelka{
        position: absolute;
        right: 289px;
        top: 338px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina-specific stuff here */
  .hero{
      background-image: url("../images/heroback@2x.jpg");
  }
}
