.info{
    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-bottom: 330px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__item:not(:last-child){
        margin-bottom: 155px;
    }
    &__item:nth-child(even){
        flex-direction: row-reverse;
    }
    &__textbox {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 445px;
    }
    &__heading {
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        font-family: 'Space Mono 700';
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
    }
    &__desc {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-family:'Lexend Deca';
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
    &__circle-img{
        display: inline-block;
        width: 445px;
        height: 445px;
        border-radius: 50%;
        background-image:url("../images/payment.jpg");
        background-repeat:no-repeat;
        background-size:cover;
    }
    
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina-specific stuff here */
  .info{
      &__circle-img{
        //   background-image: url("../images/payment@2x.jpg");
      }
  }
}

///////////////  TABLET  /////////////////
@media only screen and (max-width:1023px){
    .info{
        &__list{
            margin-bottom: 104px;
        }
        &__item{
            flex-direction: column-reverse;
            align-items: center;
            
        }
        &__item:not(:last-child){
            margin-bottom: 128px;
        }
        &__item:nth-child(even){
            flex-direction: column-reverse;
        }
        &__pic{
            margin-bottom: 45px;
        }
        &__circle-img{
            margin-bottom: 45px;
        }
        &__textbox {
            align-items:center;
            text-align: center;
        }
        &__heading{
            margin-bottom: 40px;
        }
    }
}

///////////////  MOBILE  /////////////////
@media only screen and (max-width:767px){
    .info{
        &__list{
            margin-bottom: 120px;
        }
        &__item:not(:last-child){
            margin-bottom: 120px;
        }
        &__pic{
            margin-bottom: 55px;
        }
        &__heading{
            margin-bottom: 32px;
            font-size: 32px;
            line-height: 32px;
        }
        &__desc{
            margin-bottom: 32px;
        }
        &__pic{
            width: 311px;
            height: 311px;
        }
        &__circle-img{
            width: 311px;
            height: 311px; 
        }
    }
}
